<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body>
<div id="top">
    <h1>{{ page.title }}</h1>
    developer - geek - father

    <ul class="share-buttons">
        <li><a href="https://twitter.com/Stianl"><img src="images/Twitter.png"></a></li>
        <li><a href="https://plus.google.com/+StianLindhom"><img src="images/Google+.png"></a></li>
        <li><a href="http://no.linkedin.com/in/stianb/"><img src="images/LinkedIn.png"></a></li>
        <li><a href="mailto:stian@lindhom.no"><img src="images/Email.png"></a></li>
    </ul>
</div>
<div id="content">
    {{ content }}
</div>
</body>
</html>